<h1>Codeclan Pizza Shop</h1>

<% for order in @orders %>
<p> Name: <%= order.pretty_name() %> <br></br>
  Order: <%= order.topping_quantity() %> <br></br>
  <a href = "/pizza-orders/<%= order.id %>" > Show Order </a> </p>
  <% end %>
